{% extends '_layouts/main' %}

{%- set metaTitle = entry.metaTitle|default(entry.title) %}
{%- set metaDescription = entry.metaDescription %}
{%- set bodyClass = 't-interior t-post t-practice-areas t-practice-areas--post' %}
{%- set ogDescription = entry.ogDescription|default(entry.summary) %}
{%- set ogImage = ((entry.ogImage|length) ? entry.ogImage.first().getUrl())|default((entry.headerImage|length) ? entry.headerImage.first().getUrl()) %}
{%- set attorneys = craft.entries({
    section: 'attorneys',
    order: 'postDate desc',
    relatedTo: entry
}) %}

{% block content %}

<main class="o-main" role="main">
    <div class="c-interior-page-utility">
        <div class="container">
                {% include '_includes/parts/breadcrumbs' %}
            <ul class="breadcrumb print">
                {% include '_includes/parts/engagement' %}
            </ul>
        </div>
    </div>

    {% include '_includes/parts/interior-stage' with {
        pageTitle: topLevel.title|default(entry.title)
    } %}

    <div class="c-interior-content">
        <div class="container">
            <div class="col-xs-12 col-lg-8 left-col">
                <h1 class="u-visible-print-block print-title">{{ entry.title }}</h1>
                <div class="o-main__content">
                    {% if entry.practiceAreaHeaderImage|length %}
                        {%- set practiceAreaHeaderImage = entry.practiceAreaHeaderImage.first() %}
                        <img class="main-photo" src="{{ practiceAreaHeaderImage.getUrl({
                            mode: 'crop',
                            width: 1000,
                            height: 500,
                            quality: 100,
                            position: 'center-center'
                        }) }}" alt="{{ practiceAreaHeaderImage.altText }}">
                    {% endif %}

                    <!--h1>{{ entry.title }}</h1-->

                    {{ entry.body }}

                    {% if attorneys|length %}
                        <div class="u-visible-print-block">
                            <h2>Related Attorneys</h2>
                            <ul class="list">
                                {% for attorney in attorneys %}
                                    <li>{{ attorney.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 col-lg-4 right-col">
                {% include '_includes/sidebar/practice-areas' %}
            </div>
        </div>
    </div>

    {% include '_includes/parts/attorney-slide' with {
        attorneys: attorneys,
        headline: 'Related Attorneys'
    } %}

    {% if actionBanners.practiceAreasCta|length %}
        {%- set actionBanner = actionBanners.practiceAreasCta.first() %}
        {% include '_includes/parts/action-banner' with {
            class: 'gray',
            text: actionBanner.text,
            buttonLink: actionBanner.buttonLink,
            buttonText: actionBanner.buttonText
        } %}
    {% endif %}

</main>

{% endblock %}
