<aside class="o-main__sidebar">
    {%- set entries = craft.entries({
    section: 'blog',
    limit: null
    }) %}
    {%- set categories = craft.categories({
    group: 'blog',
    order: 'title',
    relatedTo: {
    sourceElement: entries.ids()
    }
    }).find() %}
    {%- set contributors = craft.entries({
    section: 'attorneys',
    relatedTo: {
    sourceElement: craft.entries.section('blog'),
    field: 'attorneyAuthor'
    }
    }).find() %}

    {% if categories|length %}
        <div class="right-col c-subnav o-main__sidebar__component">
            <p class="section-head-nav">Categories</p>

            <ul class="c-interior-right-nav">
                {% for postCategory in categories %}
                    {%- set isActive = category is defined and category.slug == postCategory.slug %}
                    <li class="c-navbar__navigation__nav-item">
                        <a href="/{{ seg1 }}/category/{{ postCategory.slug }}"
                           class="{% if isActive %}is-active{% endif %}">{{ postCategory.title }} <i
                                    class="fa fa-chevron-right"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if contributors|length %}
        <div class="right-col c-subnav o-main__sidebar__component">
            <p class="section-head-nav">Contributors</p>

            <ul class="c-interior-right-nav">
                {% for contributor in contributors %}
                    <li class="c-navbar__navigation__nav-item">
                        <a href="{{ contributor.url() }}#{{ contributor.id }}">{{ contributor.title }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="right-col c-subnav c-subnav--muted o-main__sidebar__component">
        <p class="section-head-nav section-head-nav--muted">{{ seg1 |capitalize }} Archive</p>
        <ul class="c-interior-right-nav c-interior-right-nav--muted">
            {% for year, entriesInYear in entries|group('postDate.year') if entriesInYear|length > 0 %}
                {%- set isActive = archiveYear is defined and archiveYear == year %}
                <li class="c-navbar__navigation__nav-item">
                    <a href="/{{ seg1 }}/archive/{{ year }}" class="{% if isActive %}is-active{% endif %}">{{ year }}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</aside>
